/*------------------------------------Margins, padding and spacing */

.head-style {
    background: url("../images/books.png");
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px;
    padding-bottom: 200px;
}

#search-box {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.input-group {
    margin-top: 100px;
}

.footer-align {
    padding-top: 30px;
    padding-bottom: 30px;
}

.books {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


/*-------------------------------------Books List ID */

.book-list {
    margin-top: 50px;
    visibility: hidden;
}

/*-------------------------------------Styling */

.page-bottom {
    padding-top: 150px;
}

.book-find {
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 2px 5px black;
}

#form {
    padding-left: 100px;
}
/*-------------------------------------Colours */

.head-side {
    background-color: #F4F6FA;
}

/*-------------------------------------Footer */

.footer-align {
    text-align: center;
    background-color: #8094DD;
}

