/*------------------------------------Margins, padding and spacing */

.head-style {
    background: url("../images/books.png");
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px;
}

.search-bar {
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 600px;
    padding-right: 50px;
    margin-left: 80px;
}

.nothing-to-see {
    text-align: center;
}

/*-------------------------------------Styling */

.main-heading {
    font-size: 80px;
    color: white;
    text-align: center;
    text-shadow: 5px 2px black;
}

.page-bottom {
    padding-top: 150px;
}

/*-------------------------------------Colours */

/*-------------------------------------Footer */

.footer-align {
    text-align: center;
}

